<!-- post-list.component.html -->
<h3>List</h3>

<ng-container *ngIf="posts.length; else elseTemplate">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts; let i = index">
            <h5>{{i+1}}) {{post.code}}</h5>
            <p>
                {{post.value}}
            </p>
        </li>
    </ul>

</ng-container>
<ng-template #elseTemplate>

    <div class="alert alert-danger" role="alert">
        No Post Found!
    </div>

</ng-template>


<ng-container *ngIf="elements.length; else elseTemplateElement">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let element of elements; let i = index">
            <h5>{{i+1}}) {{element.key}}</h5>
            <p>
                {{element.value2}}
            </p>
        </li>
    </ul>

</ng-container>
<ng-template #elseTemplateElement>

    <div class="alert alert-danger" role="alert">
        No Element Found!!!!!!
    </div>

</ng-template>
